/* Estilo general */
body {
  font-family: sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Encabezado */
header {
  background-color: greenyellow;
  color: white;
  padding: 16px 20px;
  text-align: center;
  box-shadow: 0 2px 4px black;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}
.editLabel {
  text-align: center;
  font-weight: bold;
  color: crimson;
  margin-top: 5px;
}
/* Contenedor principal de tareas*/
.container {
  max-width: 500px;
  margin: 30px auto 100px;
  padding: 0 20px;
}

/* tareas */
ul#taskList {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

ul#taskList li {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px 14px;
  border-radius: 6px;
  box-shadow: 0 1px 3px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskText {
  flex-grow: 1;
}

.deleteBtn {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0 6px;
}

.deleteBtn:hover {
  color: red;
}

/* Formulario flotante */
#taskFormContainer {
  display: none;
  position: fixed;
  bottom: 70px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  padding: 16px;
  box-shadow: 0 -2px 6px black;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  z-index: 10;
}

#taskFormContainer input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 4px;
}

#taskFormContainer button {
  padding: 10px 16px;
  font-size: 1rem;
  background-color: greenyellow;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#taskFormContainer button:hover {
  background-color: greenyellow;
}

/* Footer fijo */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: greenyellow;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -2px 4px black;
}

footer button {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: white;
  color: greenyellow;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

footer button:hover {
  background-color: white;
}
